header {
    background-color: #BBBBBB;
}
.caja{
    width: 940px;
    height: 100px;
    position: relative;
    margin: 0 auto;
}

nav a:hover{
    
    text-decoration: underline #87733D; 
}

body{
    background: #BBBBBB;
}
.titulo-principal{
    color: #87733D;
    position:absolute;
    top: 1px;
    font-weight: bold;
    font-size: 35px;
    text-decoration: none;
}
nav{
    position: absolute;
    top: 20px;
    right: 60px;
}

nav li{
    display: inline-block;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: #87733D;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
}

#perfil{
    position: relative;
    width: 155px;
    left: 355px;
    bottom: 90px;
    filter: drop-shadow(5px 0px 3px rgba(0, 0, 0, 0.6));
}

.baner-container {
    position: relative;
    width: 100%;
    max-width: 500px; 
}

.banner {
    margin: 1em auto;
    width: 100%;
    height: 500px;
    border-radius: 10px;
}

.introduction {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 400px; 
}

.titulo-general{
    color: #000000;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
    text-align: center;
}

.paquetes{
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}


.paquetes-lista li{
    display: inline-block;
    width: 295px;
    text-align: center;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}

.imagenes-paquetes{
    width: 250px;
    height: 250px;
    border-radius: 10px;
}


.mapa p {
    margin: 0 0 2em;
    text-align: center;
}

.mapa-contenido {
    width: 940px;
    margin: 0 auto;
}

/*

.paquetes-lista li:hover{
    border-color:#c78c19;
}

.paquetes-lista li:active{
    border-color:#088c19;
}

.paquetes-lista h2{
    font-size: 30px;
    font-weight: bold;
}

.paquetes-lista li:hover h2{
    font-size: 33px;
}

.paquete-descripcion{
    font-size: 18px;
}

.paquete-precio{
    font-size: 20px;
    font-weight: bold;
    margin-top:10px;
}
*/

footer{
    text-align: center;
    height: 150px;
    background-color: #000000;
    padding:40px;
}

.logo{
    position: relative;
    margin: 0 auto;
    bottom: 30px;
    width: 200px;
}

footer p{
    position: relative;
    bottom: 36px;
    color: #f6f6f6;
    font-size: 10px;
}